

*{
    margin: 0;
    padding: 0;

    
}
body{
    background-color: #8d8d8d;
    color: #050404;
}
.crud{
    width: 60%;
    margin: auto;
}
.head{
    text-align: center;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 10px;
    padding: 4px;
    color: #fff;
    text-align: center;
}
button{
    width: 100%;
    height: 30px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 10px;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
th,td{
    padding: 5px;
}
